/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 /**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 body{
  font-family: 'Poppins', sans-serif;

}
.ace-whatsapp-style {
  border: none;
    display: inline-block;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    cursor: pointer;
    position: fixed;
    text-align: center;
    padding: 10px;
    margin: 0 auto 0 auto;
    width: 51px;
    white-space: nowrap;
    overflow: hidden;
    z-index: 99999;
    font-size: 19px;
    text-decoration: none;
    font-weight: 300;
         height: 50px;

}

.ace-whatsapp-style2:hover,.ace-whatsapp-style2:focus {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  width:230px;
  text-decoration: none;
}

.ace_whats_app_content {
  margin-left: 19px;
}
.ace_whats_app_content2 {
  margin-left: 19px;
  font-size: 18px;
}

.ace-whatsapp-right {
    right: 15px;
}
.ace-whatsapp-left {
    left: 15px;
}

.ace-whatsapp-top{
  top:10%;
}

.ace-whatsapp-center{
  top:50%;
}

.ace-whatsapp-bottom {
    bottom: 15px;
}

.ace-whatsapp-style i.fab.fa-whatsapp {
    font-size: 25px;
    position: relative;
    left: 3px;
    text-decoration: none;
}

.ace-whatsapp-style i.fab.fa-whatsapp2 {
    font-size: 25px;
    position: relative;
    left: 5px;
    text-decoration: none;
    top: 2px;
}


/*   whatsapp group width */

.ace_image_outer i {
    color: #ccc;
    font-size: 31px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.ace_image_outer{
  border:none;
}

.ace_image_outer {
    border-style: none;
    border-width: 3px;
    overflow: hidden;
    position: relative;
    bottom: 12px;
    right: 13px;
    box-shadow: none !important;
}
a.ace-whatsapp-group.ace-whatsapp-group2 {
    padding: 0px 0px 3px;
    display: inline-flex;
    width: 278px;
    height: 73px;
    border-radius: 6px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none !important;
    transition: .4s ease all;
    -webkit-transition: .4s ease all;
    -moz-transition: .4s ease all;
    padding: 0 29px 4px 3px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

a.ace-whatsapp-group.ace-whatsapp-group2:hover {
    box-shadow: 0 4px 8px 1px rgba(32,32,37,.19);
    transform: translate(0,-3px);
    -webkit-transform: translate(0,-3px);
    -moz-transform: translate(0,-3px);
    -ms-transform: translate(0,-3px);
}

.ace_widget_content_ h4 {
    font-weight: normal;
       margin: 12px 0 3px !important;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

.ace_widget_content_ p {
    margin: 1px 0;
    line-height: 19px;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

 @media screen and (max-width: 480px) {
  .ace-whatsapp-style{
    border-radius: 100%;
  } 
  .ace-whatsapp-style2:hover,.ace-whatsapp-style2:focus{
    width:51px;
    text-decoration: none;
  }

  .ace-whatsapp-right{
    right: 10px;
  }

  .ace-whatsapp-left{
    left: 10px;
  }
  .ace-whatsapp-style i.fab.fa-whatsapp2{
    left: 6px;
  }
  
   .ace-whatsapp-style i.fab.fa-whatsapp2 {
     left: 0;
     font-size: 28px;
     text-align: center;
     right: 0;
     top: 1.9px;
     
   }
   .ace_whats_app_content2{
    display: none;
   }
   
}

/*new whatsapp chat box css*/
.ace-whatsapp-style, .ace-whatsapp-style:hover, .ace-whatsapp-style:focus{
    border-radius: 50%;
    padding: 14px;
    height: 60px;
    width: 60px;
}
